input{
	background-color: #E5F30C;
	color: black;
	margin: 7px;
	border: 2px solid #140303;
	border-radius: 10px;
}
button{
	background-color: #260F9D;
	border-radius: 10px;
	padding: 10px;
	color: white;
}